/* body {
/* background-color: red; */
/*} */
body{
  margin: 0px;
  text-align: center;
  font-size: 100%;
  font-family: 'My Soul', cursive;

}
h1{
 font-size: 2em;
  margin-top: 0;
 color: #808080;
  /* width: 10%;
  margin :0 auto 0 auto; */
}
h2{
  color:#808080;
}
h3{
  color:#808080;
}
.top-container{
background-color: #d5e1df;
position: relative;
padding-top: 100px;

}
.middle-container{


}
.bottom-container{
background-color: #808080;
padding-bottom: 20px ;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top:50px;
}

.bottom-cloud{
  position: absolute;
  left:300px;
  bottom: 300px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  font-weight: bold;

}

.chillies{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.computer{
  width: 25%;
  float: right;
  margin-right:30px;
}

.btn{
	background-color:#808080;
	border-radius:28px;
	border:1px solid #808080;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #808080;
}
.btn:hover {
	background-color:#5cbf2a;
}
.btn:active {
	position:relative;
	top:1px;
}

.lice{
  margin-top: 40px;
}

.footer-link{
  margin-bottom: 30px;
}
